* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.btn {
    display: block;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.algebra {
    background-color: #ff6347;
    /* Rojo Tomate */
}

.calculo {
    background-color: #4682b4;
    /* Azul Acero */
}

.estadistica {
    background-color: #32cd32;
    /* Verde Lima */
}

.geometria {
    background-color: #ffa500;
    /* Naranja */
}

.volver {
    background-color: #9fcd32;
}

.btn:hover {
    opacity: 0.8;
}